/*
* @Author: Raf Van Suetendael
* @Date:   10-06-2018 22:17:12
* @Last Modified by:   Raf Van Suetendael
* @Last Modified time: 11-06-2018 08:32:05
*/
.c-landing {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
	.c-landing__title {
		color: #fff;
		display: block;
		position: absolute;
		left: 50vw;
		top: 50vh;
		transform: translateY(-50%);
		h1 {
			margin: 0;
			line-height: .8em;
			font-size: 8rem;	
		}
		&::after {
			display:block;
			content: "";
			border-bottom: 1px solid #fff;
			position: absolute;
			top: 6.4rem;
			width: 48vw;
			left: -50vw;
		}
		&::before {
			display:block;
			content: "";
			border-right: 1px solid #fff;
			position: absolute;
			top: 0;
			height: 100%;
			left: -2vw;
		}
		span {
			font-family: "bungee outline", sans-serif;
		}
		p {
			// font-family: "bungee hairline", sans-serif;
			font-weight: 300;
			margin: 0;
		}
	}
}