<script src="/assets/javascript/vendor/modernizr-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/assets/javascript/vendor/jquery-3.3.1.min.js"><\/script>')</script>
<script src="/assets/javascript/scripts.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121116582-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121116582-1');
</script>
<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/solid.js" integrity="sha384-q6QALO/4RSDjqnloeDcGnkB0JdK3MykIi6dUW5YD66JHE3JFf8rwtV5AQdYHdE0X" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/brands.js" integrity="sha384-QPbiRUBnwCr8JYNjjm7CB0QP9h4MLvWUZhsChFX6dLzRkY22/nAxVYqa5nUTd6PL" crossorigin="anonymous"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.1.0/js/fontawesome.js" integrity="sha384-ckjcH5WkBMAwWPjTJiy7K2LaLp37yyCVKAs3DKjhPdo0lRCDIScolBzRsuaSu+bQ" crossorigin="anonymous"></script>