{{ define "main" }}
	<div class="section c-proj" data-title="made by mice">
		<div class="c-proj__skills js-reposition">
			<p>The work of Raf Van Suetendael</p>
			<p>
				<a href="https://github.com/raf-vs" target="_blank"><i class="fab fa-github"></i></a> <a href="https://codepen.io/rafvs/" target="_blank"><i class="fab fa-codepen"></i></a> | <a href="https://twitter.com/raf_vs" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/rafvs/" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/raf.van.s" target="_blank"><i class="fab fa-facebook"></i></a> <a href="https://medium.com/@raf_vs" target="_blank"><i class="fab fa-medium"></i></a>
			</p>
		</div>
	</div>
	<div class="section c-proj" data-title="Vlaamse waterweg">
		<div class="c-proj__skills js-reposition">
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span> - <a href="https://www.vlaamsewaterweg.be" target="_blank">Visit website</a>
			<br>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/219422210.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/219422208.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/220507829.png')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Seine schelde">

	</div>
	<div class="section c-proj" data-title="Gulde schoen">

	</div>
	<div class="section c-proj" data-title="Different hotels">

	</div>
{{ end }}