{{ define "main" }}
	<div class="section c-proj" data-title="made by mice">
		<div class="c-proj__skills js-reposition">
			<p>web/ux/ui/interactive & graphic design by Raf Van Suetendael</p>
			<p><a href="mailto:hello@rafvs.be"><i class="fas fa-paper-plane"></i> contact me</a>&nbsp; |&nbsp;
				<a href="https://github.com/raf-vs" target="_blank"><i class="fab fa-github"></i></a> <a href="https://codepen.io/rafvs/" target="_blank"><i class="fab fa-codepen"></i></a> | &nbsp;<a href="https://twitter.com/raf_vs" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/rafvs/" target="_blank"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/raf.van.s" target="_blank"><i class="fab fa-facebook"></i></a> <a href="https://medium.com/@raf_vs" target="_blank"><i class="fab fa-medium"></i></a>
			</p>
		</div>
	</div>
	<div class="section c-proj" data-title="Vlaamse waterweg">
		<div class="c-proj__skills js-reposition">
			<p>Website for De Vlaamse Waterweg NV</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span> - <a href="https://www.vlaamsewaterweg.be" target="_blank">Visit website</a>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/219422210.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/219422208.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/220507829.png')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Seine schelde">
		<div class="c-proj__skills js-reposition">
			<p>Website for the Seine Schelde Vlaanderen project of De Vlaamse Waterweg NV</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/284335809.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/284043747.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/284995043.png')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Different hotels">
		<div class="c-proj__skills js-reposition">
			<p>Website for Different hotels group and its hotels</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span> - <a href="https://www.differenthotel.com" target="_blank">Visit website</a>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/163957143.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="De Gulde Schoen">
		<div class="c-proj__skills js-reposition">
			<p>Website for the hotel of family Dembelé</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span> - <a href="https://www.deguldeschoen.be" target="_blank">Visit website</a>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/GuldeSchoen.png')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Stad Lummen">
		<div class="c-proj__skills js-reposition">
			<p>Website for the city of Lummen</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span> - <a href="https://www.lummen.be" target="_blank">Visit website</a>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/229670518.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/233196621.png')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/233232307.png')">
			</div>
		</div>
	</div>
{{ end }}