{{ define "main" }}
	<div class="section c-proj js-randomtitle" data-title="made by mice">
		<div class="layer c-proj__content js-reposition"  data-depth="1.2">
			<p>web/ux/ui/interactive & graphic design by Raf Van Suetendael</p>
			<p><a href="mailto:hello@rafvs.be" class="js-btn"><i class="fas fa-paper-plane"></i><span> contact</span></a>&nbsp; &nbsp;&nbsp; <a href="#skills" class="js-btn"><i class="fas fa-rocket"></i><span> skills & xp</span></a><span style="float:right;"><a href="https://github.com/raf-vs" target="_blank"><i class="fab fa-github"></i></a> <a href="https://codepen.io/rafvs/" target="_blank"><i class="fab fa-codepen"></i></a> <a href="https://twitter.com/raf_vs" target="_blank"><i class="fab fa-twitter"></i></a> <a href="https://www.facebook.com/raf.van.s" target="_blank"><i class="fab fa-facebook"></i></a> <a href="www.linkedin.com/in/rafvs" target="_blank"><i class="fab fa-linkedin"></i></a></span>
			</p>
		</div>
	</div>
	<div class="section c-proj" data-title="Vlaamse waterweg">
		<div class="c-proj__content js-reposition">
			<p>Website for De Vlaamse Waterweg NV</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
			<p><a href="https://www.vlaamsewaterweg.be" target="_blank">Visit website</a></p>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/219422210.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/219422208.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/220507829.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Seine schelde">
		<div class="c-proj__content js-reposition">
			<p>Website for the Seine Schelde Vlaanderen project of De Vlaamse Waterweg NV</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/284335809.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/284043747.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/284995043.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Different hotels">
		<div class="c-proj__content js-reposition">
			<p>Website for Different hotels group and its hotels</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
			<p><a href="https://www.differenthotel.com" target="_blank">Visit website</a></p>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/dh1.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/dh2.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/dh3.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="De Gulde Schoen">
		<div class="c-proj__content js-reposition">
			<p>Website for the hotel of family Dembelé</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
			<p><a href="https://www.deguldeschoen.be" target="_blank">Visit website</a></p>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/GuldeSchoen.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/GuldeSchoen2.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="Stad Lummen">
		<div class="c-proj__content js-reposition">
			<p>Website for the city of Lummen</p>
			<span class="c-proj__tag">UX design</span>
			<span class="c-proj__tag">UI design</span>
			<p><a href="https://www.lummen.be" target="_blank">Visit website</a></p>
		</div>
		<div class="c-proj__slider js-projectslider">
			<div class="c-proj__img" style="background-image: url('/assets/images/lummen1.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/lummen2.jpg')">
			</div>
			<div class="c-proj__img" style="background-image: url('/assets/images/lummen3.jpg')">
			</div>
		</div>
	</div>
	<div class="section c-proj" data-title="skills & XP">
		<div class="c-proj__content js-reposition">
			<p>Creating strong graphic design and smooth user experiences since I was a boy. Below, a small list of some (but certainly not all) of my skills & XP</p>
			<p><!-- <b>Skills: </b><br> -->
				<span class="c-proj__tag">UX design</span>
				<span class="c-proj__tag">UI design</span>
				<span class="c-proj__tag">Graphic design</span>
				<span class="c-proj__tag">Animation</span>
				<span class="c-proj__tag">Video editing</span>
				<span class="c-proj__tag">Sketch</span>
				<span class="c-proj__tag">Photoshop</span>
				<span class="c-proj__tag">Illustrator</span>
				<span class="c-proj__tag">Indesign</span>
				<span class="c-proj__tag">XD CC</span>
				<span class="c-proj__tag">After effects</span>
				<span class="c-proj__tag">Hugo, Gatsby, ...</span>
				<span class="c-proj__tag">Gulp, Grunt, ...</span>
				<span class="c-proj__tag">CSS</span>
				<span class="c-proj__tag">SASS</span>
				<span class="c-proj__tag">HTML5</span>
				<span class="c-proj__tag">Javascript</span>
				<span class="c-proj__tag">jQuery</span>
				<span class="c-proj__tag">PHP</span>
				<span class="c-proj__tag">.NET</span>
				<span class="c-proj__tag">Wordpress</span>
				<span class="c-proj__tag">Drupal</span>
				<span class="c-proj__tag">Netlify</span>
				<span class="c-proj__tag">Netlify cms</span>
				<span class="c-proj__tag">Git</span>
				<span class="c-proj__tag">...</span>
			</p>
			
		</div>
	</div>
{{ end }}